<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="QueueServer" type="Adf.Config.IpGroupSection,Adf"/>
  </configSections>
  <appSettings>
    <!-- LOGS -->
    <add key="Log:FlushInterval" value="10"/>
    <add key="Log:Path" value="c:\logs\Adf.QueueServerTest\"/>
  </appSettings>
  <QueueServer>
    <add ip="127.0.0.1" port="226"/>
  </QueueServer>
</configuration>