<?xml version="1.0"?>
<configuration>
  <appSettings>

    <!-- 服务端口 -->
    <add key="HttpPort" value="6230"/>
    <add key="HttpIp" value="*"/>
    
    <!-- Data Save -->
    <add key="DataPath" value="c:\data\Adf.QueueServer\"/>


    
    <!-- LOGS -->
    <!--<add key="Log:Disabled" value="all"/>-->
    <add key="Log:FlushInterval" value="10"/>
    <add key="Log:Path" value="c:\logs\Adf.QueueServer\"/>

  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>